body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}
.nav{
    overflow: hidden;
    background-color: #ffffff;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.nav a{
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}
.nav a:hover {
    color: #007BFF; /* Change text color on hover, optional */
}

.nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007BFF; /* Set the color of the underline */
    transition: width 0.3s ease; /* Animation duration and easing */
}

.nav a:hover::after {
    width: 100%; /* Expand the underline to full width on hover */
}
.info1{
    display: flex;
    height: 100vh;
    background-color: #0351a4;
    color: #ffffff;
}
.info{
    padding-left: 200px;
    padding-top: 35px;
}
.button {
    border-radius: 30px;
    background-color:#ffffff;
    border: none;
    color:#0351a4;
    text-align: center;
    font-size: 15px;
    padding: 13px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  img{
    position:fixed;
    padding-left: 280px;
    padding-top: 210px;
  }
  .img img{
   height: 600px;
  }